
/*====================================================
	全体的なスタイル
====================================================*/
* {
	margin:0;									/* 全要素のマージンをリセット */
	padding:0;									/* 全要素のパディングをリセット */
	line-height:1.5;							/* 全要素の行の高さを1.5倍にする */
	color:#333333;								/* 文字色 */
}
body {
	background-color:#999999;					/* ページ全体の背景色 */
	text-align:center;							/* IE5.5以下でセンタリングするための対策 */
}
div#pagebody {
	margin:0px 0px;								/* 内容全体をセンタリング (top,left,bottom,right) */
	text-align:left;							/* テキストの配置を左揃えにする */
	background-color:#ffffff;					/* 内容全体の背景色 */
	border:none;
}
.selectorH4{									/* <h4>見出しの設定 */
    border-left:7px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:.5em .8em
}


/*====================================================
	Header : menu
====================================================*/
div#header {
	width:100%;									/* 縦幅100% */
	height:35px;								/* 横幅35px */
	margin:0;
	padding:0;
	background-color:#009933;					/* header背景色#009933 */
	overflow:hidden;							/* header内のmenu落ち防止(親に設置すること) */
	font-size:90%;
}

#header ul{
	list-style-type:none;						/*   */
	margin:0;									/*   */
	padding:auto;								/*   */
}
#header li{
	float:left;									/*   */
	width:auto;									/*   */
	margin:0;									/*   */
	padding:0px;								/*   */
}
#header a{
	text-align:center;							/*  */
	display:block;								/*  */
	padding:0.5em 0;							/*  */
	margin:0px 7px 0px 7px;
	width:auto;									/* 幅 */
	text-decoration:none;						/* リンクの下線を無くす */
	color:white;								/*  */

}
#header a:hover{
	width:auto;
	height:45px;
	border-bottom: medium red;
	background-color:#76ed76;					/*  */
	color:white;								/*  */
}

/*====================================================
	Contents
====================================================*/
div#contents {
	width:100%;									
	height:100%;
	background-color:#ffffff;
}

/*====================================================
	Main
====================================================*/
div#main {
	width:90%;
	height:auto;
	margin:0px 50px 0px 50px;

}

/*====================================================
	Footer
====================================================*/
div#footer {
	height:42px;								/* 高さ */
	width:100%;									/* 幅 */
	text-align:center;							/* テキスト位置 */
	background-color:#cccccc;					/* 背景色 */
}
address {
	font-style:normal;							/* フォントスタイルを標準にする */
	font-size:small;							/* フォントサイズを小さくする */
	padding:5px 0px 5px 0px;					/* 要素内容の位置調整 */
}